In [30]:
#Vectors - 1D, same dtype

In [1]:
pacman::p_load('tidyverse')

In [2]:
fruits <- c("banana", "apple", "orange")
numbers <- c(1, 2, 3)
num <- 1:10

In [3]:
fruits

[1] "banana" "apple"  "orange"

In [4]:
numbers

[1] 1 2 3

In [5]:
num

 [1]  1  2  3  4  5  6  7  8  9 10

In [9]:
numbers1 <- 1.5:6.5
numbers1

[1] 1.5 2.5 3.5 4.5 5.5 6.5

In [10]:
numbers2 <- 1.5:6.3
numbers2

[1] 1.5 2.5 3.5 4.5 5.5

In [11]:
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

In [12]:
fruits <- c("banana", "apple", "orange")

length(fruits)

[1] 3

In [13]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)

sort(fruits)
sort(numbers)

[1] "apple"  "banana" "lemon"  "mango"  "orange"

[1]  2  3  5  7 13 20

In [14]:
fruits[1]

[1] "banana"

In [15]:
fruits[c(1, 3)]

[1] "banana" "orange"

In [16]:
fruits[c(-1)]

[1] "apple"  "orange" "mango"  "lemon"

In [17]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
fruits[1] <- "pear"
fruits

[1] "pear"   "apple"  "orange" "mango"  "lemon"

In [18]:
fruits[1:4]

[1] "pear"   "apple"  "orange" "mango"

In [19]:
repeat_times <- rep(c(1,2,3), times = 3)

repeat_times

[1] 1 2 3 1 2 3 1 2 3

In [20]:
repeat_indepent <- rep(c(1,2,3), times = c(5,2,1))

repeat_indepent

[1] 1 1 1 1 1 2 2 3

In [21]:
numbers <- seq(from = 0, to = 100, by = 20)

numbers

[1]   0  20  40  60  80 100

In [22]:
1:5

[1] 1 2 3 4 5

In [27]:
seq(from = 1, to = 100, by = 2)

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [29]:
#Lists - can be nested, mutable, multiple data types

In [32]:
thislist <- list("apple", "banana", "cherry")

thislist[1]

[[1]]
[1] "apple"

In [33]:
thislist <- list("apple", "banana", "cherry")
thislist[1] <- "blackcurrant"
thislist

[[1]]
[1] "blackcurrant"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"

In [34]:
thislist <- list("apple", "banana", "cherry")

length(thislist)

[1] 3

In [35]:
thislist <- list("apple", "banana", "cherry")

"apple" %in% thislist

[1] TRUE

In [36]:
thislist <- list("apple", "banana", "cherry")

append(thislist, "orange")

[[1]]
[1] "apple"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"

[[4]]
[1] "orange"

In [37]:
thislist <- list("apple", "banana", "cherry")

append(thislist, "orange", after = 2)

[[1]]
[1] "apple"

[[2]]
[1] "banana"

[[3]]
[1] "orange"

[[4]]
[1] "cherry"

In [38]:
hislist <- list("apple", "banana", "cherry")
newlist <- thislist[-1]
newlist

[[1]]
[1] "banana"

[[2]]
[1] "cherry"

In [40]:
thislist <- list("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thislist[2:5]

[[1]]
[1] "banana"

[[2]]
[1] "cherry"

[[3]]
[1] "orange"

[[4]]
[1] "kiwi"

In [41]:
thislist <- list("apple", "banana", "cherry")

for (x in thislist) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

In [42]:
list1 <- list("a", "b", "c")
list2 <- list(1,2,3)
list3 <- c(list1,list2)

list3

[[1]]
[1] "a"

[[2]]
[1] "b"

[[3]]
[1] "c"

[[4]]
[1] 1

[[5]]
[1] 2

[[6]]
[1] 3

In [43]:
list3 <- list(list1, list2)

In [44]:
list3

[[1]]
[[1]][[1]]
[1] "a"

[[1]][[2]]
[1] "b"

[[1]][[3]]
[1] "c"


[[2]]
[[2]][[1]]
[1] 1

[[2]][[2]]
[1] 2

[[2]][[3]]
[1] 3

In [45]:
#Matrices 2D, same dtype

In [46]:
thismatrix <- matrix(c(1,2,3,4,5,6), nrow = 3, ncol = 2)

In [47]:
thismatrix

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [48]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange"), nrow = 2, ncol = 2)
thismatrix

     [,1]   [,2]
[1,] apple  cherry
[2,] banana orange

In [49]:
thismatrix[1, 2]

[1] "cherry"

In [50]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange"), nrow = 2, ncol = 2)
thismatrix[2,]

[1] "banana" "orange"

In [51]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange","grape", "pineapple", "pear", "melon", "fig"), 
                     nrow = 3, ncol = 3)

thismatrix[c(1,2),]

     [,1]   [,2]   [,3]
[1,] apple  orange pear
[2,] banana grape  melon

In [52]:
thismatrix

     [,1]   [,2]      [,3]
[1,] apple  orange    pear
[2,] banana grape     melon
[3,] cherry pineapple fig

In [53]:
newmatrix <- cbind(thismatrix, c("strawberry", "blueberry", "raspberry"))
newmatrix

     [,1]   [,2]      [,3]  [,4]
[1,] apple  orange    pear  strawberry
[2,] banana grape     melon blueberry
[3,] cherry pineapple fig   raspberry

In [54]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange","grape", "pineapple", "pear", "melon", "fig"), 
                     nrow = 3, ncol = 3)
newmatrix <- rbind(thismatrix, c("strawberry", "blueberry", "raspberry"))
newmatrix

     [,1]       [,2]      [,3]
[1,] apple      orange    pear
[2,] banana     grape     melon
[3,] cherry     pineapple fig
[4,] strawberry blueberry raspberry

In [55]:
thismatrix <- thismatrix[-c(1), -c(1)]

In [56]:
thismatrix

     [,1]      [,2]
[1,] grape     melon
[2,] pineapple fig

In [57]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange"), nrow = 2, ncol = 2)

"apple" %in% thismatrix

[1] TRUE

In [58]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange"), nrow = 2, ncol = 2)

dim(thismatrix)

[1] 2 2

In [59]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange"), nrow = 2, ncol = 2)

length(thismatrix)

[1] 4

In [60]:
thismatrix <- matrix(c("apple", "banana", "cherry", "orange"), nrow = 2, ncol = 2)

for (rows in 1:nrow(thismatrix)) {
  for (columns in 1:ncol(thismatrix)) {
    print(thismatrix[rows, columns])
  }
}

[1] "apple"
[1] "cherry"
[1] "banana"
[1] "orange"

In [61]:
for (x in thismatrix) {
    print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"
[1] "orange"

In [62]:
thismatrix

     [,1]   [,2]
[1,] apple  cherry
[2,] banana orange

In [63]:
nrow(thismatrix)

[1] 2

In [64]:
ncol(thismatrix)

[1] 2

In [65]:
# Combine matrices
Matrix1 <- matrix(c("apple", "banana", "cherry", "grape"), nrow = 2, ncol = 2)
Matrix2 <- matrix(c("orange", "mango", "pineapple", "watermelon"), nrow = 2, ncol = 2)

# Adding it as a rows
Matrix_Combined <- rbind(Matrix1, Matrix2)
Matrix_Combined

# Adding it as a columns
Matrix_Combined <- cbind(Matrix1, Matrix2)
Matrix_Combined

     [,1]   [,2]
[1,] apple  cherry
[2,] banana grape
[3,] orange pineapple
[4,] mango  watermelon

     [,1]   [,2]   [,3]   [,4]
[1,] apple  cherry orange pineapple
[2,] banana grape  mango  watermelon

In [67]:
#Arrays can bemore than , single dtype

In [68]:
# An array with one dimension with values ranging from 1 to 24
thisarray <- c(1:24)
thisarray

# An array with more than one dimension
multiarray <- array(thisarray, dim = c(4, 3, 2))
multiarray

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

, , 1

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

, , 2

     [,1] [,2] [,3]
[1,]   13   17   21
[2,]   14   18   22
[3,]   15   19   23
[4,]   16   20   24

In [71]:
dim(multiarray)

[1] 4 3 2

In [72]:
thisarray <- c(1:24)

# Access all the items from the first row from matrix one
multiarray <- array(thisarray, dim = c(4, 3, 2))
multiarray[c(1),,1]

# Access all the items from the first column from matrix one
multiarray <- array(thisarray, dim = c(4, 3, 2))
multiarray[,c(1),1]

[1] 1 5 9

[1] 1 2 3 4

In [73]:
thisarray <- c(1:24)
multiarray <- array(thisarray, dim = c(4, 3, 2))

2 %in% multiarray

[1] TRUE

In [74]:
thisarray <- c(1:24)
multiarray <- array(thisarray, dim = c(4, 3, 2))

length(multiarray)

[1] 24

In [75]:
thisarray <- c(1:24)
multiarray <- array(thisarray, dim = c(4, 3, 2))

for(x in multiarray){
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15
[1] 16
[1] 17
[1] 18
[1] 19
[1] 20
[1] 21
[1] 22
[1] 23
[1] 24

In [76]:
#Dataframe

In [77]:
# Create a data frame
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Print the data frame
Data_Frame

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45

In [78]:
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

Data_Frame

summary(Data_Frame)

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45

   Training             Pulse          Duration
 Length:3           Min.   :100.0   Min.   :30.0
 Class :character   1st Qu.:110.0   1st Qu.:37.5
 Mode  :character   Median :120.0   Median :45.0
                    Mean   :123.3   Mean   :45.0
                    3rd Qu.:135.0   3rd Qu.:52.5
                    Max.   :150.0   Max.   :60.0

In [79]:
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

Data_Frame[1]

Data_Frame[["Training"]]

Data_Frame$Training

  Training
1 Strength
2 Stamina
3 Other

[1] "Strength" "Stamina"  "Other"

[1] "Strength" "Stamina"  "Other"

In [83]:
Data_Frame[c('Training','Duration')]

  Training Duration
1 Strength 60
2 Stamina  30
3 Other    45

In [86]:
Data_Frame[['Training']]

[1] "Strength" "Stamina"  "Other"

In [87]:
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Add a new row
New_row_DF <- rbind(Data_Frame, c("Strength", 110, 110))

# Print the new row
New_row_DF

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45
4 Strength 110   110

In [88]:
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Add a new column
New_col_DF <- cbind(Data_Frame, Steps = c(1000, 6000, 2000))

# Print the new column
New_col_DF

  Training Pulse Duration Steps
1 Strength 100   60       1000
2 Stamina  150   30       6000
3 Other    120   45       2000

In [91]:
df <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Remove the first row and column
df_new <- df[-c(1), -c(1)]

# Print the new data frame
df_new

  Pulse Duration
2 150   30
3 120   45

In [92]:
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

dim(Data_Frame)

[1] 3 3

In [93]:
Data_Frame <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

ncol(Data_Frame)
nrow(Data_Frame)

[1] 3

[1] 3

In [94]:
summary(df)

   Training             Pulse          Duration
 Length:3           Min.   :100.0   Min.   :30.0
 Class :character   1st Qu.:110.0   1st Qu.:37.5
 Mode  :character   Median :120.0   Median :45.0
                    Mean   :123.3   Mean   :45.0
                    3rd Qu.:135.0   3rd Qu.:52.5
                    Max.   :150.0   Max.   :60.0

In [97]:
df

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45

In [99]:
Data_Frame <- data.frame (
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

length(Data_Frame)

[1] 2

In [100]:
Data_Frame1 <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

Data_Frame2 <- data.frame (
  Training = c("Stamina", "Stamina", "Strength"),
  Pulse = c(140, 150, 160),
  Duration = c(30, 30, 20)
)

New_Data_Frame <- rbind(Data_Frame1, Data_Frame2)
New_Data_Frame

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45
4 Stamina  140   30
5 Stamina  150   30
6 Strength 160   20

In [101]:
Data_Frame3 <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

Data_Frame4 <- data.frame (
  Steps = c(3000, 6000, 2000),
  Calories = c(300, 400, 300)
)

New_Data_Frame1 <- cbind(Data_Frame3, Data_Frame4)
New_Data_Frame1

  Training Pulse Duration Steps Calories
1 Strength 100   60       3000  300
2 Stamina  150   30       6000  400
3 Other    120   45       2000  300

In [102]:
#Factors - categorical

In [103]:
# Create a factor
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"))

# Print the factor
music_genre

[1] Jazz    Rock    Classic Classic Pop     Jazz    Rock    Jazz
Levels: Classic Jazz Pop Rock

In [104]:
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"))

levels(music_genre)

[1] "Classic" "Jazz"    "Pop"     "Rock"

In [105]:
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"), 
                      levels = c("Classic", "Jazz", "Pop", "Rock", "Other"))

levels(music_genre)

[1] "Classic" "Jazz"    "Pop"     "Rock"    "Other"

In [106]:
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"))

length(music_genre)

[1] 8

In [107]:
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"))

music_genre[3]

[1] Classic
Levels: Classic Jazz Pop Rock

In [108]:
music_genre[1:3]

[1] Jazz    Rock    Classic
Levels: Classic Jazz Pop Rock

In [109]:
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"))

music_genre[3] <- "Pop"

music_genre[3]

[1] Pop
Levels: Classic Jazz Pop Rock

In [111]:
#cant add/edit to an element which was not categorized initially

music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"))

music_genre[3] <- "Opera"

music_genre[3]

Warning message in `[<-.factor`(`*tmp*`, 3, value = "Opera"):
“invalid factor level, NA generated”

[1] <NA>
Levels: Classic Jazz Pop Rock

In [112]:
music_genre <- factor(c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz"), levels = c("Classic", "Jazz", "Pop", "Rock", "Opera"))

music_genre[3] <- "Opera"

music_genre[3]

[1] Opera
Levels: Classic Jazz Pop Rock Opera

In [114]:
#Tibble - modernized version of df

In [115]:
data <- data.frame(a = 1:3, b = letters[1:3], c = Sys.Date() - 1:3)
data

  a b c
1 1 a 2022-12-02
2 2 b 2022-12-01
3 3 c 2022-11-30

In [116]:
data <- as_tibble(data)

In [117]:
data

  a b c
1 1 a 2022-12-02
2 2 b 2022-12-01
3 3 c 2022-11-30

In [118]:
tibble(x = 1:5, y = 1, z = x ^ 2 + y)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

In [119]:
vignette('tibble')

starting httpd help server ...
 done

In [120]:
#You can define a tibble row-by-row with tribble

tribble(
  ~x, ~y,  ~z,
  "a", 2,  3.6,
  "b", 1,  8.5
)

  x y z
1 a 2 3.6
2 b 1 8.5

In [122]:
#Tibble: doesn’t coerce strings to factors by default, doesn’t change column names, and doesn’t use rownames.