In [3]:
pacman::p_load('tidyverse')

In [6]:
head(pirates)

  id sex    age height weight headband college tattoos tchests parrots
1 1  male   28  173.11  70.5  yes      JSSFP    9       0      0
2 2  male   31  209.25 105.6  yes      JSSFP    9      11      0
3 3  male   26  169.95  77.1  yes      CCCC    10      10      1
4 4  female 31  144.29  58.5  no       JSSFP    2       0      2
5 5  female 41  157.85  58.4  yes      JSSFP    9       6      4
6 6  male   26  190.20  85.4  yes      CCCC     7      19      0
  favorite.pirate sword.type eyepatch sword.time beard.length
1 Jack Sparrow    cutlass    1         0.58      16
2 Jack Sparrow    cutlass    0         1.11      21
3 Jack Sparrow    cutlass    1         1.44      19
4 Jack Sparrow    scimitar   1        36.11       2
5 Hook            cutlass    1         0.11       0
6 Jack Sparrow    cutlass    1         0.59      17
  fav.pixar           grogg
1 Monsters, Inc.      11
2 WALL-E               9
3 Inside Out           7
4 Inside Out           9
5 Inside Out          14
6 Monsters University  7

In [7]:
str(pirates)

'data.frame':	1000 obs. of  17 variables:
 $ id             : int  1 2 3 4 5 6 7 8 9 10 ...
 $ sex            : chr  "male" "male" "male" "female" ...
 $ age            : num  28 31 26 31 41 26 31 31 28 30 ...
 $ height         : num  173 209 170 144 158 ...
 $ weight         : num  70.5 105.6 77.1 58.5 58.4 ...
 $ headband       : chr  "yes" "yes" "yes" "no" ...
 $ college        : chr  "JSSFP" "JSSFP" "CCCC" "JSSFP" ...
 $ tattoos        : num  9 9 10 2 9 7 9 5 12 12 ...
 $ tchests        : num  0 11 10 0 6 19 1 13 37 69 ...
 $ parrots        : num  0 0 1 2 4 0 7 7 2 4 ...
 $ favorite.pirate: chr  "Jack Sparrow" "Jack Sparrow" "Jack Sparrow" "Jack Sparrow" ...
 $ sword.type     : chr  "cutlass" "cutlass" "cutlass" "scimitar" ...
 $ eyepatch       : num  1 0 1 1 1 1 0 1 0 1 ...
 $ sword.time     : num  0.58 1.11 1.44 36.11 0.11 ...
 $ beard.length   : num  16 21 19 2 0 17 1 1 1 25 ...
 $ fav.pixar      : chr  "Monsters, Inc." "WALL-E" "Inside Out" "Inside Out" ...
 $ grogg          : num  11 9 7 9 14 7 9 12 16 9 ...

In [9]:
summary(pirates)

       id             sex                 age            height
 Min.   :   1.0   Length:1000        Min.   :11.00   Min.   :129.8
 1st Qu.: 250.8   Class :character   1st Qu.:24.00   1st Qu.:161.4
 Median : 500.5   Mode  :character   Median :27.00   Median :169.9
 Mean   : 500.5                      Mean   :27.36   Mean   :170.2
 3rd Qu.: 750.2                      3rd Qu.:31.00   3rd Qu.:178.5
 Max.   :1000.0                      Max.   :46.00   Max.   :209.2
     weight         headband           college             tattoos
 Min.   : 33.00   Length:1000        Length:1000        Min.   : 0.000
 1st Qu.: 62.08   Class :character   Class :character   1st Qu.: 7.000
 Median : 69.55   Mode  :character   Mode  :character   Median :10.000
 Mean   : 69.74                                         Mean   : 9.429
 3rd Qu.: 76.90                                         3rd Qu.:12.000
 Max.   :105.60                                         Max.   :19.000
    tchests          parrots       favorite.pirate     sword.type
 Min.   :  0.00   Min.   : 0.000   Length:1000        Length:1000
 1st Qu.:  6.00   1st Qu.: 1.000   Class :character   Class :character
 Median : 15.00   Median : 2.000   Mode  :character   Mode  :character
 Mean   : 22.69   Mean   : 2.819
 3rd Qu.: 30.00   3rd Qu.: 4.000
 Max.   :147.00   Max.   :27.000
    eyepatch       sword.time        beard.length    fav.pixar
 Min.   :0.000   Min.   :  0.0000   Min.   : 0.00   Length:1000
 1st Qu.:0.000   1st Qu.:  0.2175   1st Qu.: 0.00   Class :character
 Median :1.000   Median :  0.5850   Median : 9.00   Mode  :character
 Mean   :0.658   Mean   :  2.5427   Mean   :10.38
 3rd Qu.:1.000   3rd Qu.:  1.3300   3rd Qu.:20.00
 Max.   :1.000   Max.   :169.8800   Max.   :40.00
     grogg
 Min.   : 0.00
 1st Qu.: 8.00
 Median :10.00
 Mean   :10.14
 3rd Qu.:12.00
 Max.   :21.00

In [10]:
names(pirates)

 [1] "id"              "sex"             "age"             "height"
 [5] "weight"          "headband"        "college"         "tattoos"
 [9] "tchests"         "parrots"         "favorite.pirate" "sword.type"
[13] "eyepatch"        "sword.time"      "beard.length"    "fav.pixar"
[17] "grogg"

In [12]:
table(pirates$sex)

female   male  other
   464    490     46

In [37]:
x <- c(1,2,3,4,5,6,7,8,9,NA,10)

In [38]:
for (i in x) {
    print(is.na(i))
}

[1] FALSE
[1] FALSE
[1] FALSE
[1] FALSE
[1] FALSE
[1] FALSE
[1] FALSE
[1] FALSE
[1] FALSE
[1] TRUE
[1] FALSE

In [39]:
mean(x)

[1] NA

In [42]:
i = 0

while (i < 10) {
    print(i)
    i = i + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [44]:
x = 11

if (x %% 2 == 1) {
    print('odd')
} else {
    print('even')
}

[1] "odd"

In [45]:
x <- c(1,2,3,4,5,6,7,8,9,NA,10)

In [46]:
mean(x)

[1] NA

In [47]:
mean(x, na.rm = T)

[1] 5.5

In [48]:
x <- c(1,2,3,4,5,6,7,8,9,NA,10,1000)

In [49]:
mean(x, na.rm = T)

[1] 95.90909

In [50]:
mean(x, na.rm = T, trim = 0.1)

[1] 6

In [52]:
median(x, na.rm=TRUE)

[1] 6

In [53]:
sort(x)

 [1]    1    2    3    4    5    6    7    8    9   10 1000

In [54]:
table(x)

x
   1    2    3    4    5    6    7    8    9   10 1000
   1    1    1    1    1    1    1    1    1    1    1

In [61]:
x <- c(1,2,3,4,5,5,5,5,6,7,8,9,NA,10,1000)

In [62]:
x

 [1]    1    2    3    4    5    5    5    5    6    7    8    9   NA   10 1000

In [63]:
names(sort(table(x), decreasing = TRUE)[1])

[1] "5"

In [64]:
sort(table(x), decreasing = TRUE)[1]

5
4